.header {
  background-color:white;
  text-align:center;
  border-bottom:3px solid gray;
}

ul.oldtrick {
  list-style:none;
  margin:0;
  padding:0;
  background-color:yellow;
}

ul.oldtrick li {
  /*background-color:blue;*/
  margin:0 0.5em;  
  float:left;
}
ul.oldtrick li:hover {
  background-color: yellow;
}

ul.oldtrick li div.table img.table {
  position:absolute;
  margin:0;
  padding:0;
  top: 3em;
  left: 4em;
  height:24em;
  z-index:-2;
}

ul.oldtrick li div.table {
  position:absolute;
  margin:0;
  padding:0;
  /*border: 5px solid green;*/
  top: 14em;
  left: 8em;
  height:28em;
  width:28em;
  z-index:9;
  display:none;
}

/*ul.oldtrick li:hover div.table{ display:block; }
*/

ul.oldtrick li div div.card0 {
  position:absolute;
  margin:0;
  padding:0;
  /*border: 1px solid red;*/
  top: 14em;
  right:25em;
}
ul.oldtrick li div div.card1 {
  position:absolute;
  margin:0;
  padding:0;
  /*border: 1px solid red;*/
  top: 0;
  left:0em;
  width:28em;
  text-align:center;
}
ul.oldtrick li div div.card2 {
  position:absolute;
  margin:0;
  padding:0;
  /*border: 1px solid red;*/
  top: 14em;
  right:0em;
}
ul.oldtrick li div div.card3 {
  position:absolute;
  margin:0;
  padding:0;
  /*border: 1px solid red;*/
  top: 28em;
  left:0;
  width:28em;
  text-align:center;
}

ul.oldtrick li div div img {
  position:absolute;
  height:6em;
  margin:0;
  padding:0;
}

ul.oldtrick li div div.card0 img {
  top: -2em;
  left:5em;
}
ul.oldtrick li div div.card1 img {
  top: 3em;
  left:12em;
}
ul.oldtrick li div div.card2 img {
  top: -2em;
  left:-6em;
}
ul.oldtrick li div div.card3 img {
  top: -6em;
  left:12em;
}


ul.oldtrick li div div span {
  /*background-color:green;*/
}
ul.oldtrick li div div.card0 span {
  text-align:right;
}
ul.oldtrick li div div.card1 span {
  text-align:center;
}
ul.oldtrick li div div.card0 span {
  text-align:left;
}
ul.oldtrick li div div.card0 span {
  text-align:center;
}

ul.oldtrick li div div span span {
  position:absolute;
  background-color:white;
  margin:0;
  padding:0;
  border: 1px solid yellow;
  top:1em;
  z-index:11;
}

.mycards {
  position:absolute;
  margin:0;
  padding:0;
  right:0;
  top:15em;
  width:12em;
  float:right;
  border:1px solid red;
  background-color:yellow;
}

.mycards img{
  height:6em;
}